@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Black Italic.woff") format("woff"), url("../fonts/Mabry Pro Black Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Bold.woff") format("woff"), url("../fonts/Mabry Pro Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Black.woff") format("woff"), url("../fonts/Mabry Pro Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Light Italic.woff") format("woff"), url("../fonts/Mabry Pro Light Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Bold Italic.woff") format("woff"), url("../fonts/Mabry Pro Bold Italic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Medium Italic.woff") format("woff"), url("../fonts/Mabry Pro Medium Italic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Italic.woff") format("woff"), url("../fonts/Mabry Pro Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Medium.woff") format("woff"), url("../fonts/Mabry Pro Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro Light.woff") format("woff"), url("../fonts/Mabry Pro Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  font-display: swap;
  src: url("../fonts/Mabry Pro.woff") format("woff"), url("../fonts/Mabry Pro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  margin-bottom: 277px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 23px 0;
}

.header-top__btn {
  z-index: 100;
  margin-left: auto;
}

.header-fixed {
  position: fixed;
  left: 0;
  right: 0;
  background: #0C0B31;
  z-index: 1000;
  padding: 23px 15px;
}

.header-top__nav {
  margin-right: auto;
  margin-left: 73px;
  position: relative;
  z-index: 100;
}

.top-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.top-nav__list-item+.top-nav__list-item {
  margin-left: 64px;
}

.top-nav__list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
  padding-bottom: 40px;
}

.top-nav__list-link:hover {
  color: #fff;
}

.top-nav__list-link.active {
  border-bottom: 1px solid #FF7777;
  color: #fff;
}

.header-top__line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 117px;
  z-index: 100;
}

.header-title {
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.header-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  max-width: 439px;
  margin-bottom: 71px;
}

.header-descr {
  margin-top: 286px;
}

.header-descr__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-descr__item {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  position: relative;
}

.header-descr__item+.header-descr__item {
  margin-left: 71px;
}

.header-descr__item+.header-descr__item::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 26px;
  background-color: rgba(255, 255, 255, 0.3);
  left: -35px;
  top: 5px;
}

.no-webp .header-bg {
  background-image: url("../img/catalog.png");
}

.header-bg {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto;
}

.about {
  margin-bottom: 277px;
}

.about-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 91px;
}

.about-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-left {
  max-width: 568px;
  margin-right: 155px;
}

.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 90px;
}

.about-subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.about-subtitle__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-rigth {
  max-width: 460px;
}

.about-list__item {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.about-list__item:last-child {
  margin-bottom: 56px;
}

.about-response {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FF7777;
  max-width: 300px;
  display: block;
}

.masterclass {
  margin-bottom: 278px;
  position: relative;
}

.masterclass-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 82px;
}

.masterclass-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.masterclass-card {
  background-color: #3D3C5A;
  border-radius: 16px;
  padding: 51px 48px 0 48px;
  position: relative;
  min-height: 440px;
}

.masterclass-card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 22px;
}

.masterclass-card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 168px;
}

.masterclass-img-1 {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.masterclass-img-2 {
  width: auto;
  position: absolute;
  right: 0%;
  top: -11%;
  z-index: -1;
}

.masterclass-img-3 {
  width: auto;
  position: absolute;
  right: 0;
  bottom: -30%;
  z-index: -1;
}

.gallery {
  margin-bottom: 270px;
}

.gallery-content__items {
  position: relative;
}

.gallery-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 82px;
}

.gallery-content__item-1 img {
  border-radius: 16px;
}

.gallery-content__item-2 img {
  border-radius: 16px;
  object-fit: cover;
}

.gallery-content__item-3 img {
  border-radius: 16px;
  object-fit: cover;
}

.gallery-content__item-4 img {
  border-radius: 16px;
  object-fit: cover;
}

.gallery-content__item-5 img {
  border-radius: 16px;
  object-fit: cover;
}


@media (min-width: 1280px) {
  .gallery-content__item-1 img {
    border-radius: 16px;
    width: 572px;
    height: 572px;
  }

  .gallery-content__item-2 {
    position: absolute;
    right: -600px;
  }

  .gallery-content__item-2 img {
    border-radius: 16px;
    width: 272px;
    height: 272px;
    object-fit: cover;
  }

  .gallery-content__item-3 img {
    border-radius: 16px;
    width: 272px;
    height: 272px;
    object-fit: cover;
  }

  .gallery-content__item-3 {
    position: absolute;
    left: 74%;
  }

  .gallery-content__item-4 img {
    border-radius: 16px;
    width: 272px;
    height: 272px;
    object-fit: cover;
  }

  .gallery-content__item-4 {
    position: absolute;
    left: 74%;
    bottom: -53%;
  }

  .gallery-content__item-5 img {
    border-radius: 16px;
    width: 272px;
    height: 272px;
    object-fit: cover;
  }

  .gallery-content__item-5 {
    position: absolute;
    left: 49%;
    bottom: -53%;
  }
}

.gallery-bg-1 {
  position: absolute;
  left: -12%;
  top: -26%;
  z-index: -1;
  width: 500px;
  height: 500px;
}

.gallery-bg-2 {
  position: absolute;
  right: -0%;
  top: 0%;
  z-index: -1;
  width: 400px;
  height: 400px;
}

.footer {
  margin-bottom: 88px;
}

.footer-title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  margin-bottom: 98px;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-map {
  position: relative;
  margin-right: 176px;
}

.footer-map img {
  width: 592px;
  height: 520px;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer-map__label {
  text-align: center;
  background-color: #0C0B31;
  border-radius: 8px;
  width: 172px;
  height: 73px;
  position: absolute;
  top: 192px;
  left: 210px;
}

.map-label__logo {
  padding-top: 10px;
}

.map-label__address {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.map-label__arrow {
  position: absolute;
  bottom: -15px;
  left: 72px;
}

.footer-descr__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  margin-bottom: 83px;
}

.descr__item-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
}

.descr-item__text-data {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 18px;
}

.descr-item__text-data span {
  font-size: 64px;
  line-height: 64px;
  margin-right: 12px;
}

.descr-item__text-place {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 14px;
  width: 424px;
}

.descr-item__text-time {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  color: #FFFFFF;
  margin-top: 18px;
  position: relative;
}

.descr-item__text-time span {
  margin-left: 20px;
}

.descr-item__text-time svg {
  position: absolute;
  top: 20px;
  left: 62px;
}

.descr-item__text-participation {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 14px;
}

.descr-item__text-participation span {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #FF7777;
  margin-top: 8px;
}

.footer-descr__label {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 20px 24px;
  position: relative;
}

.footer-descr__label svg {
  position: absolute;
}

.footer-map__bg {
  position: absolute;
  bottom: -20%;
  left: -60%;
  -webkit-transform: rotate(-100deg);
  -ms-transform: rotate(-100deg);
  transform: rotate(-100deg);
  z-index: 1;
  display: none;
}

.footer-map__bg img {
  width: 600px;
  height: 600px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #0C0B31;
  color: #fff;
  font-family: "Mabry Pro";
  font-weight: 400;
}

.container {
  max-width: 1520px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-body {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.btn-wrapper {
  position: absolute;
  left: 48px;
  bottom: 48px;
}

.btn {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #ff7777;
  border: 1px solid #FF7777;
  border-radius: 8px;
  padding: 16px 56px;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn:hover {
  color: #ff5757;
  border: 1px solid #ff5757;
}

.btn.pink {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #FFFFFF;
  background-color: #FF7777;
  -webkit-box-shadow: 0px 10px 30px rgba(255, 119, 119, 0.4);
  box-shadow: 0px 10px 30px rgba(255, 119, 119, 0.4);
  border-radius: 8px;
  padding: 16px 56px;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.btn.pink:hover {
  background-color: #FF5757;
}

@media (max-width: 1550px) {
  .header-bg {
    background-size: 1000px 1263px;
    background-position: right top 14%;
  }
}

@media (max-width: 1500px) {
  .footer-map {
    margin-right: 40px;
  }
}

@media (max-width: 1480px) {
  .footer-descr__label svg {
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 1372px) {
  .footer-descr__items {
    margin-bottom: 52px;
  }
}

@media (max-width: 1360px) {
  .masterclass-img-1 {
    top: 8%;
    left: -15%;
  }

  .masterclass-img-2 {
    right: 0;
    top: 40%;
    width: 500px;
    height: 500px;
  }

  .container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media (max-width: 1340px) {
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer-descr__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer-descr__data {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-right: 100px;
  }

  .footer-descr__time {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer-descr__place {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
  }
}

@media (max-width: 1330px) {
  .footer-map {
    margin-right: 0px;
    margin: auto;
  }

  .footer-map img {
    max-width: 100%;
  }

  .footer-descr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-bottom: 50px;
  }

  .footer-descr__participation {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .swiper-slide {
    flex-shrink: initial;
  }

  .gallery-content__items {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .gallery-content__item-1 {
    margin-right: 20px;
  }

  .gallery-content__item-2 {
    margin-right: 20px;
  }

  .gallery-content__item-3 {
    margin-right: 20px;
  }

  .gallery-content__item-4 {
    margin-right: 20px;
  }

  .gallery-content__item-1 img {
    width: 592px;
    height: 592px;
  }

  .gallery-content__item-2 img {
    width: 592px;
    height: 592px;
  }

  .gallery-content__item-3 img {
    width: 592px;
    height: 592px;
  }

  .gallery-content__item-4 {
    position: static;
  }

  .gallery-content__item-4 img {
    width: 592px;
    height: 592px;
  }

  .gallery-content__item-5 {
    position: static;
  }

  .gallery-content__item-5 img {
    width: 592px;
    height: 592px;
  }
}

@media (max-width: 1240px) {
  .header-top__nav {
    margin-left: 30px;
  }

  .top-nav__list-item+.top-nav__list-item {
    margin-left: 40px;
  }

  .top-nav__list-link {
    font-size: 16px;
  }

  .btn {
    padding: 14px 40px;
  }
}

@media (max-width: 1200px) {
  .header-bg {
    background-size: 800px 1063px;
    background-position: right top 20%;
  }

  .about-left {
    margin-right: 80px;
    max-width: 500px;
  }
}

@media (max-width: 1000px) {
  .header {
    margin-bottom: 156px;
  }

  .header-top__logo {
    display: none;
  }

  .header-top__nav {
    position: fixed;
    background-color: #0C0B31;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    margin-left: 0px;
  }

  .header-top__nav.active {
    opacity: 1;
    visibility: visible;
  }

  .top-nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 65px;
  }

  .top-nav__list-item+.top-nav__list-item {
    margin-left: 0px;
    margin-top: 63px;
  }

  .header-descr {
    margin-top: 156px;
  }

  .header-bg {
    background-size: 800px 1063px;
    background-position: right top;
  }

  .header-content {
    padding-top: 400px;
  }

  .about-descr {
    display: block;
  }

  .about-left {
    max-width: 100%;
    margin-bottom: 40px;
    margin-right: 0px;
  }

  .about-rigth {
    max-width: 100%;
    margin-left: 24px;
  }

  .masterclass {
    margin-bottom: 139px;
  }

  .masterclass-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 61px;
  }

  .masterclass-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
  }

  .masterclass-card__title {
    font-size: 24px;
    line-height: 32px;
  }

  .masterclass-card__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 121px;
  }

  .masterclass-img-1 {
    width: 400px;
    height: 400px;
  }

  .masterclass-img-2 {
    right: 20%;
    top: 40%;
    width: 400px;
    height: 400px;
  }

  .masterclass-img-3 {
    right: 23%;
    bottom: -8%;
    width: 400px;
    height: 400px;
  }

  .gallery {
    margin-bottom: 100px;
  }

  .menu-icon-wrapper {
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 17px;
    top: 33px;
    z-index: 100;
    position: fixed;
  }

  .menu-icon {
    position: relative;
    width: 32px;
    height: 2px;
    background-color: #9E9DAC;
  }

  .menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background-color: #9E9DAC;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }

  .menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background-color: #9E9DAC;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
    -o-transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in;
  }

  .menu-icon.menu-icon-active {
    background-color: transparent;
  }

  .menu-icon.menu-icon-active::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
  }

  .menu-icon.menu-icon-active::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
    -o-transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    width: 32px;
  }
}

@media (max-width: 830px) {
  .header-descr__item {
    font-size: 20px;
  }

  .header-descr__item+.header-descr__item {
    margin-left: 50px;
  }

  .header-descr__item+.header-descr__item::before {
    left: -25px;
  }
}

@media (max-width: 800px) {
  .header-title {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 750px) {
  .header-content {
    padding-top: 600px;
  }
}

@media (max-width: 700px) {
  .gallery-content__item-1 img {
    width: 300px;
    height: 300px;
  }

  .gallery-content__item-2 img {
    width: 300px;
    height: 300px;
  }

  .gallery-content__item-3 img {
    width: 300px;
    height: 300px;
  }

  .gallery-content__item-4 img {
    width: 300px;
    height: 300px;
  }

  .gallery-content__item-5 img {
    width: 300px;
    height: 300px;
  }

  .gallery-bg-1 {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 670px) {
  .header-descr__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 650px) {
  .header-bg {
    background-size: 600px 863px;
  }

  .header-content {
    padding-top: 400px;
  }
}

@media (max-width: 600px) {
  .about {
    margin-bottom: 132px;
  }

  .about-title {
    margin-bottom: 52px;
    font-size: 32px;
    line-height: 40px;
  }

  .about-text {
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 24px;
  }

  .about-subtitle {
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 32px;
  }

  .about-subtitle__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
  }

  .about-list__item {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .about-response {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 570px) {
  .footer-map__label {
    left: 176px;
  }

  .footer-descr__data {
    margin-right: 77px;
  }
}

@media (max-width: 530px) {
  .header-descr__item+.header-descr__item:nth-child(3) {
    margin-left: 10px;
  }

  .header-descr__item+.header-descr__item:nth-child(3)::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .header-bg {
    background-size: 500px 763px;
    background-position: right top 4%;
  }

  .footer-title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 57px;
  }

  .footer-map__label {
    left: 160px;
  }

  .descr__item-subtitle {
    font-size: 12px;
    line-height: 16px;
  }

  .footer-descr__data {
    margin-right: 50px;
  }

  .descr-item__text-data {
    font-size: 16px;
    line-height: 24px;
  }

  .descr-item__text-data span {
    font-size: 40px;
    line-height: 48px;
  }

  .descr-item__text-place {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  .descr-item__text-time {
    font-size: 40px;
    line-height: 48px;
  }

  .descr-item__text-time svg {
    top: 11px;
    left: 45px;
    width: 4px;
  }

  .descr-item__text-participation {
    font-size: 16px;
    line-height: 24px;
  }

  .descr-item__text-participation span {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-descr__label {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 450px) {
  .footer-map__label {
    left: 120px;
  }
}

@media (max-width: 410px) {
  .header-descr__item {
    margin-left: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .header-descr__item+.header-descr__item {
    margin-left: 20px;
  }

  .header-descr__item+.header-descr__item::before {
    left: -8px;
  }
}

@media (max-width: 400px) {
  .header-title {
    font-size: 40px;
    line-height: 48px;
  }

  .header-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 41px;
  }

  .header-descr {
    margin-top: 80px;
    white-space: nowrap;
  }

  .header-bg {
    background-size: 400px 563px;
    background-position: right top 4%;
  }

  .masterclass-img-1 {
    width: 300px;
    height: 300px;
  }

  .footer-map__label {
    left: 100px;
  }

  .btn.pink {
    padding: 16px 40px;
  }
}

@media (max-width: 370px) {
  .footer-descr__data {
    margin-right: 0px;
  }
}

@media (max-width: 350px) {
  .footer-map__label {
    left: 50px;
  }
}

.webp .header-bg {
  background-image: url(../img/catalog.webp);
}